#addVac{
    .vac{
        z-index: 101;
        position: sticky;
        .addVac{
            background: white;
            width: 220px;
            height: 100vh;
                 .el{
                     padding-top: 50px;
                     h1 {
                         cursor: pointer;
                         text-decoration: none;
                         color: #a7b0c2;
                         font-size: 16px;
                         line-height: 20px;
                         margin: 10px 0;
                         letter-spacing: .03em;
                         font-weight: 700;
                         transition: all 0.1s;
                         padding-top: 15px;
                     }
                     // h1:focus {
                     //     color: #191f5d;
                     // }
                     
                 }
                 h2{
                     cursor: pointer;
                     text-decoration: none;
                     color: #a7b0c2;
                     font-size: 16px;
                     line-height: 20px;
                     margin: 10px 0;
                     letter-spacing: .03em;
                     font-weight: 700;
                     transition: all .2s;
                     position: absolute;
                     top: 500px;
                 }
         }
    }
}
 